# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
lora/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Environment
.env
.venv
.env.*

venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# App specific
static/uploads/*
!static/uploads/.gitkeep
scripts/
uploads/
fine-Tuning_defAI/
emploi-temps/
dataset/
data/
DefAI/
fineTuning_defAI/
ImageSearch/
database/
docs/
migrations/
