<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<button id="fetch" class="bg-blue-500 rounded-md p-2">Générer l'image <i class="fas fa-spin fa-spin ml-2"id="spinner"></i></button>

<body class="flex flex-col items-center justify-center gap-4 h-screen">


    <script>
        const fetchBtn = document.getElementById('fetch');
        const spinner = document.getElementById('spinner');
        fetchBtn.addEventListener('click', async () => {
            const res = await fetch("http://127.0.0.1:9999/generate-image", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ prompt: "A futuristic city in the clouds" }),
});

    
            const blob = await res.blob();
            const img = document.createElement("img");
            img.src = URL.createObjectURL(blob);
            img.style.height = "500px";
            spinner.classList.add('hidden');
            document.body.appendChild(img);
        })

    </script>
</body>

</html>